@import url(//db.onlinewebfonts.com/c/5173256ffa3e08c4cbed8986369258a6?family=Qanelas+Soft+Medium);
@import url(//db.onlinewebfonts.com/c/3010f9da43a41a81d5daa32bd6edebc2?family=Qanelas+Heavy);
@import url(components/navbar.css);
@import url(components/banner.css);
@import url(components/container.css);
@import url(components/card.css);
@import url(components/card-grid.css);
@import url(components/bouton.css);
@import url(components/card-part.css);
@import url(components/list-inline.css);
@import url(components/card-photo.css);
@import url(components/card2.css);

body{
	text-align: center;	
	color: #1A2D3D;
	word-spacing: 4px;
}

p{
	text-align: justify;
	color: #b71b53;
	font-size: 23px;

}	

a{
	text-decoration: none;
	color: #b71b53 ;
}

a:hover{
	color: dimgrey;
}

li{
	text-align: left;
	color: #b71b53;
	font-size: 22px;
	padding: 6px;
	color: black;
}

#color-black{
	color: black;
}

#color-white{
	color: white;
}

#color-blue{
	background-color: #1A2D3D;
}

#color-white{
	color: white;
}

#no-color{
	box-shadow: none;
}

#color6{
	background-color: rebeccapurple;
}

form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 800px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  margin-top: 20px;
  background-color: #b71b53;
  color: white;
}

form div + div {
  margin-top: 2em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: 500px;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

.button {
  /* Pour placer le bouton à la même position que les champs texte */
  padding: 10px; /* même taille que les étiquettes */
  background-color: limegreen;
  color: white;
  border-radius: 5px;

}

button {
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  margin-left: .5em;
}
  }
