.container {
	margin: 32px;
	padding: 22px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
}	


}

@media(max-width: 600px) {
	.container{
		width: 400px;
	}	
}

@media(max-width: 750px) {
	.container{
		width: 600px;
	}	
}

#no-box{
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.0);
}

#taille2{
	font-size: 43px;
}

#taille3{
	font-size: 50px;
}

